.nav_bar {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    position: fixed;
    font-size: 10px;
    justify-items: center;
    justify-content: baseline;
    width: 20%;
    max-width: 233px;
    height: 100%;
    box-sizing: border-box;
    border-right: 0.5px solid var(--border--gray);
}

@media (max-width : 767px) {
    .nav_bar{
        display: none;
    }
}

@media (max-width : 1160px) {
    .nav_bar {
        width: 72px;
        padding: 1rem 0.5rem;
    }

    .nav_bar > a > img {
        display: none;
    }

    .nav_bar > a > div > span {
        display: none;
    }
    
    .nav_bar > a > div {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .nav_footer > a > div {
        display: flex;
        flex-direction: row;
        margin-left: 14px;
        text-align: center;
        justify-content: center;

    }

    .nav_footer > a > div > span {
        display: none;
    }

}

@media (max-height :740px) {
    .nav_footer {
        display: none;
    }
}

.nav_bar > a > img {
    justify-self: flex-start;
}

.instagram_icon_svg {
    display: flex;
}

.nav_bar > a {
    display: flex;
    flex-direction: row;
    padding: 1em 0;
    margin: 4px 0;
    width: 100%;
    align-items: center;
    font-size: 1.6em;
    justify-content: center;
}

.nav_bar > a > div {
    display: flex;
    width: 100%;   
}

.nav_bar > a > div > span {
    align-self: center;
    margin-left: 1em;
}

.nav_myImg {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

.nav_footer {
    font-size: 1.6em;
    width: 100%;
}
.nav_footer > a > div > span {
    margin-left: 1em;
}

.nav_footer > a > div {
    padding: 1em 0;
    margin: 4px 0 0 0px;
    width: 100%;
    display: flex;
}


/* 하단 메뉴바 */
.nav_bottom {
    display: none;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content:space-around;
    align-items: center;
    height: 48px;
    background-color: white;
    border-top: 1px solid var(--border--gray);
}

.nav_bottom_myImg {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

@media (max-width : 767px) {
    .nav_bottom {
        display: flex;
    }
}