.side_container {
    position: absolute;
    right: 0;
    top: 0rem;
    width: 25%;
    padding: 2em 2em;
    display: block;
}

@media (max-width: 1160px) {
    .side_container {
        display: none;
    }
}

.side_myprofile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box; /* padding, border를 포함한 크기 설정 */
    padding: 1em;
    cursor: pointer;
}

.side_myImg {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    box-shadow: 0 0 0 0.15rem white,
    0 0 0 0.25rem #dbdbdbed;
}

.side_userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1; /* 가운데 영역이 늘어나도록 */
    padding: 0 10px; /* 이미지와 간격을 줘서 여백 확보 */
}

.side_userId, .suggested_userId {
    font-weight: bold;
    font-size: 1.4em;
}

.side_user_Nickname, .suggested_user_followers {
    font-size: 1.2em;
    color: var(--gray--fontcolor);
}


.switch_btn, .follow_btn {
    white-space: nowrap; /* 텍스트가 한 줄로 유지되도록 */
    color: rgb(2, 148, 245);
    font-weight: bold;
    font-size: 1.2em;
    background-color: var(--background--color);
    cursor: pointer;
}

.switch_btn:hover, 
.follow_btn:hover {
    color: brown;
}

.suggested_userImg {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    box-shadow: 0 0 0 0.15rem white,
    0 0 0 0.25rem #dbdbdbed;
}

@media (max-width: 1160px) {
    .side_container {
        display: none;
    }
}

.suggestion_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    color: var(--gray--fontcolor);
    font-size: 1.4em;
}

.suggested_userlist_container {
    padding: 1em;
    height: 30.5em;
    max-height: fit-content;
    overflow-y: scroll;
}

.suggested_userlist_container::-webkit-scrollbar {
    display: none; /* Chrome, Safari에서 스크롤바 숨기기 */
}

.suggested_user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box; /* padding, border를 포함한 크기 설정 */
    padding: 1em;
    cursor: pointer;
    border-radius: 10px;
}
.suggested_user:hover {
    background-color:bisque;
}

.suggested_userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1; /* 가운데 영역이 늘어나도록 */
    padding: 0 10px; /* 이미지와 간격을 줘서 여백 확보 */
}

.side_footer {
    padding: 1em;
    color: var(--gray--fontcolor);
}

.footer_link span::after {
    content: '\00B7';
}